<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="d-flex flex-column align-items-start gap-3">
    <img src="assets/images/projects-logos/ferrara_logo.svg" alt="Project Logo">
    <span class="m-0 industry-text">Industry: <strong>Confectionary</strong> </span>
  </div>
  <div class="title-container gap-3 d-flex flex-column">
    <h2 class="m-0 title-project text-capitalize">Ferrara - Inspiring Sweetness</h2>
    <p class="m-0 text-uppercase">UX/UI DESIGN | WEBSITE DESIGN</p>
  </div>
  <div class="text-content gap-4 d-flex flex-column">
    <p class="m-0">Ferrara is a brand that has stretched the sugary limits of imagination for over 115 years to create confections that brings people joy. The belief that candy brings people closer has made Ferrara the undisputed leader in sugar confections in the US.</p>
    <p class="m-0">Has grown  from a humble sweets shop into the creators of some of the worlds most iconic candy brands.</p>
  </div>
  <div class="col-12 col-lg-8">
    <a class="btn btn-outline-secondary py-3 text-capitalize col-12 col-lg-6 gap-3" href="https://www.ferrara.com/us/en" target="_blank">
      See the live page
      <span class="arrow-wrapper">
        <img class="arrow-icon arrow-current" src="assets/images/icons/arrow.svg" alt="Arrow icon">
        <img class="arrow-icon arrow-incoming" src="assets/images/icons/arrow.svg" alt="Arrow icon">
      </span>
    </a>
  </div>
</section>

<div class="container">
  <img class="image-project px-1" src="assets/images/projects/ferrara/_image-1.png" alt="Ferrara Image 1">
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project text-capitalize">The Problem</h3>
    <p class="m-0 description-project">We were tasked with transforming Ferrara's outdated and static website; it wasn't aligned with what the brand stood for. It needed a strong digital presence that reflected its leadership, innovation, and strong connection with its entire community.</p>
  </div>
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project text-capitalize">The Challenge</h3>
    <p class="m-0 description-project">The challenge was to transform the entire website, with a fresh and striking design proposal, taking into account important points such as:</p>
    <div class="m-0 container d-flex flex-column gap-4 ms-3">
      <li class="list-project">
        <strong class="fw-bold">Story about the heritage of Ferrara:</strong> this should be the enterpiece that would highlight Ferrara's legacy.
      </li>
      <li class="list-project">
        <strong class="fw-bold">The strong connection that ferrara has with the community:</strong> Highlight the culture and how Ferrara impacts the community through its values.
      </li>
      <li class="list-project">
        <strong class="fw-bold">Innovation:</strong> the passion for the perfecting the art of sugar and constant exploration of possibilities.
      </li>
    </div>
  </div>
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project text-capitalize">Design Process</h3>
    <p class="m-0 description-project">As a team had some meetings to map the entire site, we knew we would have a lot of pages on the site and needed to clarify the flow of the site so we wouldn't miss important details in the future.</p>
  </div>
</section>

<div class="container">
  <figure class="figure d-flex flex-column align-items-center gap-4">
    <img class="image-project px-1" src="assets/images/projects/ferrara/_image-2.png" alt="Ferrara Image 2">
    <figcaption class="col-12 col-lg-8 px-2 px-lg-4">After many ideas, we managed to land the entire site map, which helped us throughout the design and development process to understand what the site's structure would be like.</figcaption>
  </figure>
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project text-capitalize">Exploring in the wireframes</h3>
    <p class="m-0 description-project">I started creating wireframes from sections and pages to begin identify the graphic style and general structure of the site.</p>
    <p class="m-0 description-project">This was a stage of exploration and very creative, full of feedback that nourished and made the first part of the project stronger and more creative.</p>
    <p class="m-0 description-project">This first phase helped me to give a structural proposal of the site to the client. I already had a starting point and with early feedback from the client, I understood more deeply the way the client thought and what he expected in the future.</p>
  </div>
</section>

<div class="container">
  <img class="image-project px-1" src="assets/images/projects/ferrara/_image-3.png" alt="Ferrara Image 3">
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project text-capitalize">Start Building Components</h3>
    <p class="m-0 description-project">From the beginning I knew there was great potential opportunity to create a visually striking and colorful UI that would reflect Ferrara's legacy and all of his values throughout the website, I started creating some visual concepts with the team.</p>
    <p class="m-0 description-project">It was a team process, very exciting, and full of creative exploration, the concept of having sweets floating throughout the website gave us the opportunity to build a visual identity with a lot of potential in the different sections of the site.</p>
  </div>
</section>

<section class="d-flex flex-column align-items-start justify-content-center container gap-4">
  <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner padding-section py-0">
      <div class="carousel-item active">
        <img src="assets/images/projects/ferrara/carousel-1/_slide-1.png" class="d-block w-100" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="assets/images/projects/ferrara/carousel-1/_slide-2.png" class="d-block w-100" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="assets/images/projects/ferrara/carousel-1/_slide-3.png" class="d-block w-100" alt="Slide 3">
      </div>
      <div class="carousel-item">
        <img src="assets/images/projects/ferrara/carousel-1/_slide-4.png" class="d-block w-100" alt="Slide 4">
      </div>
    </div>
    <button class="carousel-control-prev d-none d-lg-flex" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <img src="assets/images/icons/chevron-left.svg" alt="Left Arrow Icon">
    </button>
    <button class="carousel-control-next d-none d-lg-flex" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <img src="assets/images/icons/chevron-right.svg" alt="Right Arrow Icon">
    </button>
    <div class="padding-section py-0">
      <p class="caption-carousel mt-4">Many of these components were intended to be animations, but at the moment we were discovering the ideas that worked, in which we would touch base to fine-tune many details, but we were really liking what we were getting to.</p>
    </div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade w-100">
      <div class="carousel-indicators carousel-indicators-project">
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
    </div>
  </div>
</section>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project fs-1 text-capitalize">bringing to life the heart of the Website</h3>
    <p class="m-0 description-project">We worked as a team to resolve the central point of the page. Working on the creative proposal was challenging, fun, and involved a lot of creative exploration. Understanding the full story from the beginning was essential to landing better visual proposals.</p>
  </div>
  <div class="text-content gap-4 d-flex flex-column">
    <h4 class="m-0 subtitle-2-project">Key points to include:</h4>
    <div class="m-0 container d-flex flex-column gap-4 ms-3">
      <li class="list-project">
        <strong class="fw-bold">Identity and legacy:</strong> Show a history of more than a century and a half, from a small family shop to a powerful global corporation, highlighting its ability to evolve without losing its roots.
      </li>
      <li class="list-project">
        <strong class="fw-bold">Sustained innovation:</strong> Illustrate how Ferrara has continually reinvented itself (new techniques, new products, strategic acquisitions), allowing it to remain relevant in a dynamic market.
      </li>
      <li class="list-project">
        <strong class="fw-bold">Strategic expansion:</strong> Highlight key moments of growth: mergers, acquisitions, and industrial expansion, which have strengthened its presence in the US, Brazil, and other international markets.
      </li>
      <li class="list-project">
        <strong class="fw-bold">Emotional narrative:</strong> Telling a story built with personal elements (such as Lemonhead) and impactful events (such as its appearance in the Super Bowl) helps create an emotional connection between the brand and the public.
      </li>
      <li class="list-project">
        <strong class="fw-bold">Corporate transparency:</strong> Telling your corporate story clearly and chronologically, including how Ferrara communicates its values, vision for the future, and commitment to innovation, as well as how it strengthens its image among consumers, employees, and investors.
      </li>
    </div>
    <p class="m-0 description-project">We included an interactive history of Ferrara's heritage. This page was animated as a centerpiece that would highlight Ferrara's legacy.</p>
  </div>
  <div class="col-12 col-lg-8">
    <a class="btn btn-outline-secondary py-3 col-12 col-lg-6 gap-3" href="https://www.ferrara.com/us/en/ferrara-story" target="_blank">
      See the interactive story
      <span class="arrow-wrapper">
        <img class="arrow-icon arrow-current" src="assets/images/icons/arrow.svg" alt="Arrow icon">
        <img class="arrow-icon arrow-incoming" src="assets/images/icons/arrow.svg" alt="Arrow icon">
      </span>
    </a>
  </div>
</section>

<div class="container">
  <img class="image-project px-1" src="assets/images/projects/ferrara/_image-4.png" alt="Ferrara Image 4">
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project text-capitalize">highlighting its unique culture and community initiatives</h3>
    <p class="m-0 description-project">The diversity, equity, inclusion and talent of the teams, who live by Ferrara's values and create great ideas outside the box, is a huge asset at Ferrara.</p>
    <p class="m-0 description-project">We had the great task of correctly projecting this concept and effectively including everything that the community contributes and means to Ferrara.</p>
  </div>
</section>

<div class="container">
  <figure class="figure d-flex flex-column align-items-center gap-4">
    <img class="image-project px-1" src="assets/images/projects/ferrara/_image-5.png" alt="Ferrara Image 5">
    <figcaption class="col-12 col-lg-8 px-2 px-lg-4">I added different sections of activities that the Ferrara team has returned to, such as culture, opportunities for positions available to be part of the team, volunteering, and more.</figcaption>
  </figure>
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project text-capitalize">The full spectrum of sweetness</h3>
    <p class="m-0 description-project">A large portfolio brands as diverse as they are delicious.</p>
    <p class="m-0 description-project">Ferrara brings together a wide variety of popular brands, from American classics to Brazilian labels, backed by impressive production figures. The idea was to invites the user to explore its entire portfolio, brand by brand, and learn more about its history and purpose.</p>
  </div>
</section>

<section class="d-flex flex-column align-items-start justify-content-center container gap-4">
  <div id="carouselExampleFade2" class="carousel slide carousel-fade">
    <div class="carousel-inner padding-section py-0">
      <div class="carousel-item active">
        <img src="assets/images/projects/ferrara/carousel-2/_slide-1.png" class="d-block w-100" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="assets/images/projects/ferrara/carousel-2/_slide-2.png" class="d-block w-100" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="assets/images/projects/ferrara/carousel-2/_slide-3.png" class="d-block w-100" alt="Slide 3">
      </div>
    </div>
    <button class="carousel-control-prev d-none d-lg-flex" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="prev">
      <img src="assets/images/icons/chevron-left.svg" alt="Left Arrow Icon">
    </button>
    <button class="carousel-control-next d-none d-lg-flex" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="next">
      <img src="assets/images/icons/chevron-right.svg" alt="Right Arrow Icon">
    </button>
    <div class="padding-section py-0">
      <p class="caption-carousel mt-4">Many of these components were intended to be animations, but at the moment we were discovering the ideas that worked, in which we would touch base to fine-tune many details, but we were really liking what we were getting to.</p>
    </div>
    <div id="carouselExampleFade2" class="carousel slide carousel-fade w-100">
      <div class="carousel-indicators carousel-indicators-project">
        <button type="button" data-bs-target="#carouselExampleFade2" data-bs-slide-to="0" class="active"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleFade2" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleFade2" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    </div>
  </div>
</section>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project text-capitalize">Responsive Web Design</h3>
    <p class="m-0 description-project">Once we had approved navigation screens and sections of entire pages, I started translating everything to a mobile version.</p>
    <div class="m-0 container d-flex flex-column gap-4 ms-3">
      <li class="list-project">
        <strong class="fw-bold">Prioritizing Visual Content:</strong> I put the focuses on large images, vibrant colors, and visual cards for each brand (Brach's®, Black Forest®, Jelly Belly®), ideal for quick and engaging touch navigation.
      </li>
      <li class="list-project">
        <strong class="fw-bold">Clear and consistent calls to action:</strong> Learn More buttons allow direct navigation to each section or brand story, facilitating intuitive exploration on small screens.
      </li>
      <li class="list-project">
        <strong class="fw-bold">Built-in Accessibility:</strong> incorporate an alt text on images, keyboard navigation, good color contrast, resizable text, and form labels, with the goal of achieving good accessibility on mobile devices.
      </li>
    </div>
  </div>
</section>

<div class="container">
  <img class="image-project px-1" src="assets/images/projects/ferrara/_image-6.png" alt="Ferrara Image 6">
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project text-capitalize">Outcome & impact</h3>
    <p class="m-0 description-project">We delivered a modern, vibrant, and strategic design that highlighted Ferrara's leadership, global reach, and rich heritage, while celebrating its unique culture and community initiatives. As positive results of this great project we got:</p>
    <div class="m-0 container d-flex flex-column gap-4 ms-3">
      <li class="list-project">
        <strong class="fw-bold">Nominated to the webby awards in 2025:</strong> We were nominated in two categories; business blog/website 2025 & corporate communications 2025. These achievements only reflected the effort and enthusiasm that the entire team put into this project, and everything that can be achieved when working with creative and professional people.
      </li>
      <li class="list-project">
        <strong class="fw-bold">The creative approach was well-received,</strong> with positive feedback from the Ferrara's team.
      </li>
    </div>
  </div>
  <div class="col-12 col-lg-8">
    <a class="btn btn-outline-secondary py-3 col-12 col-lg-6 gap-3" href="https://winners.webbyawards.com/2025/websites-and-mobile-sites/general-desktop-mobile-sites/corporate-communications/339348/ferrara--inspiring-sweetness" target="_blank">
      See The Nomination
      <span class="arrow-wrapper">
        <img class="arrow-icon arrow-current" src="assets/images/icons/arrow.svg" alt="Arrow icon">
        <img class="arrow-icon arrow-incoming" src="assets/images/icons/arrow.svg" alt="Arrow icon">
      </span>
    </a>
  </div>
</section>

<div class="container mb-4 pb-4 mb-lg-5 pb-lg-5">
  <img class="image-project px-1" src="assets/images/projects/ferrara/_image-7.png" alt="Ferrara Image 7">
</div>

<section class="projects-shared">
  <div class="d-flex align-items-center justify-content-center">
    <h4 class="text-capitalize text-center title-shared">View more Projects</h4>
  </div>
  <div class="cards-container container">
    <div class="d-flex flex-column flex-lg-row align-items-start justify-content-between gap-5 gap-lg-0 px-2">
      <a [routerLink]="['/projects/latitude']" class="col-12 col-lg-5 text-decoration-none text-white">
        <app-latitud-card customClass="text-white bg-transparent border-0"></app-latitud-card>
      </a>
      <a [routerLink]="['/projects/roland']" class="col-12 col-lg-5 text-decoration-none text-white">
        <app-roland-card customClass="text-white bg-transparent border-0"></app-roland-card>
      </a>
    </div>
  </div>
</section>
