<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-xxl">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="assets/Logo.png" alt="Logo Image">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav py-2 ms-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/about']" [routerLinkActive]="['active']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="resume" target="_blank">Resume</a>
        </li>
        <li class="nav-item">
          <a href="mailto:mariogarciaperdomo5@gmail.com" class="btn btn-outline-secondary text-capitalize">Hire Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tel:+523311291462">+52 33 1129 1462</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
