footer {
  background-color: #0A211F !important;
  padding: 10px 0;
  color: white !important;
  font-family: var(--Gotham-font-family);
}

.tagline-footer {
  font-family: var(--Gotham-font-family);
  font-size: 14px;
  color: white !important;
}
.footer-title {
  color: white !important;
  font-family: var(--Reckless-font-family);
  font-size: 64px;
  letter-spacing: 0%;
}

.footer-title-span {
  color: #D8FF85 !important;
  font-family: var(--Reckless-font-family);
  font-size: 64px;
}

/* .btn-outline-portfolio {
  background-color: #D8FF85;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  padding: 12px 38px;
  font-size: 16px;
}
.btn-outline-portfolio:hover {
  background-color: #cfff69 !important;
  color: black !important;
} */

.work-card__cta {
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: #D8FF85;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  padding: 12px 38px;
  font-size: 16px;

  svg {
    transition: transform 0.2s ease;
  }

  &:hover {
    background-color: #b2ff69 !important;
    color: black !important;
    /* color: $wk-ink; */

    svg {
      transform: translateX(3px);
    }
  }
}

.footer-link {
  transition: 0.2s ease;
}
.footer-link:hover {
  color: #b2ff69 !important;
}
.footer-link .svg-icon-animate {
  display: inline-block;
  transition: transform 0.2s ease;
}

.footer-link:hover .svg-icon-animate {
  transform: translate(2px, -2px);
}
