<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="d-flex flex-column align-items-start gap-3">
    <img src="assets/images/projects-logos/jamieturner_logo.svg" alt="Project Logo">
    <span class="m-0 industry-text">Industry: <strong>Jewerly</strong> </span>
  </div>
  <div class="title-container gap-3 d-flex flex-column">
    <h2 class="m-0 title-project text-capitalize">American-made luxury</h2>
    <p class="m-0 text-uppercase">UX Strategy | WEBSITE DESIGN</p>
  </div>
  <div class="text-content gap-4 d-flex flex-column">
    <p class="m-0">
    Jamie Turner is a fine jewelry brand based in Austin, Texas, Rooted in family heritage, natural gemstones, and meticulous craftsmanship.</p>
    <p class="m-0">
    Current website: functional but transactional, lacking emotional depth.</p>
    <p class="m-0">
    <strong class="bolder-font">Goal:</strong> Transform the homepage into an aspirational brand experience that inspires trust and desire before purchase.</p>
  </div>
  <div class="col-12 col-lg-8">
    <a class="btn btn-outline-secondary py-3 col-12 col-lg-6 gap-3" href="https://jamieturnerdesigns.com/" target="_blank">
      See The Live Page
      <span class="arrow-wrapper">
        <img class="arrow-icon arrow-current" src="assets/images/icons/arrow.svg" alt="Arrow icon">
        <img class="arrow-icon arrow-incoming" src="assets/images/icons/arrow.svg" alt="Arrow icon">
      </span>
    </a>
  </div>
</section>

<div class="container">
  <img class="image-project px-1" src="assets/images/projects/jamie-turner/_image-1.png" alt="Jamie Turner Image 1">
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <div class="text-content gap-4 d-flex flex-column">
      <h3 class="m-0 subtitle-project fs-1 text-capitalize">Project goals</h3>
    </div>
    <div class="m-0 container d-flex flex-column gap-4 ms-3">
      <p class="list-project">
        <strong>1. Elevate brand perception:</strong>
        positioning Jamie Turner as a modern expression of Texas luxury, grounded in craftsmanship and elegance.
      </p>
      <p class="list-project">
        <strong>2. Celebrate individuality:</strong>
        emphasizing that each piece is one of a kind, designed to reflect the unique style and personality of the person who wears it.
      </p>
      <p class="list-project">
        <strong>3. Build emotional connection:</strong>
        create trust and desire through meaning and beauty before any thought of price.
      </p>
      <p class="list-project">
        <strong>4. Highlight story and values:</strong>
        share the family legacy, natural gemstones, and the artistry of the Austin studio.
      </p>
      <p class="list-project">
        <strong>5. Encourage exploration:</strong>
        lead visitors through a considered and aspirational brand experience.
      </p>
      <p class="list-project">
        <strong>6. Drive Qualified interest:</strong>
        from exploring the product catalog to in-person experiences such as private appointments and store visits.
      </p>
    </div>
  </div>

  <div class="text-content gap-4 d-flex flex-column">
    <div class="text-content gap-4 d-flex flex-column">
      <h3 class="m-0 subtitle-project fs-1 text-capitalize">Understanding what holds back the luxury experience</h3>
    </div>
    <div class="m-0 container d-flex flex-column gap-4 ms-3">
      <p class="list-project">
        <strong>1. Lack of storytelling:</strong>
        the homepage feels transactional, missing the deeper narrative.
      </p>
      <p class="list-project">
        <strong>2. Early focus on price:</strong>
        pieces are shown with price tags before trust is built.
      </p>
      <p class="list-project">
        <strong>3. Underused brand heritage:</strong>
        family legacy, gemstones, and Austin craft are hidden in the layout.
      </p>
      <p class="list-project">
        <strong>4. Generic visual hierarchy:</strong>
        the design does not reflect the spaciousness, elegance, and refinement expected of a luxury brand.
      </p>
      <p class="list-project">
        <strong>5. Disconnected first impression:</strong>
        Opening visuals do not signal elegance, exclusivity, or meaning.
      </p>
    </div>
  </div>
</section>

<section class="d-flex flex-column align-items-start justify-content-center container gap-4">
  <div id="carouselExampleFade2" class="carousel slide carousel-fade">
    <div class="carousel-inner padding-section py-0">
      <div class="carousel-item active">
        <img src="assets/images/projects/jamie-turner/carousel-1/_slide-1.png" class="d-block w-100" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="assets/images/projects/jamie-turner/carousel-1/_slide-2.png" class="d-block w-100" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="assets/images/projects/jamie-turner/carousel-1/_slide-3.png" class="d-block w-100" alt="Slide 3">
      </div>
    </div>
    <button class="carousel-control-prev d-none d-lg-flex" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="prev">
      <img src="assets/images/icons/chevron-left.svg" alt="Left Arrow Icon">
    </button>
    <button class="carousel-control-next d-none d-lg-flex" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="next">
      <img src="assets/images/icons/chevron-right.svg" alt="Right Arrow Icon">
    </button>
    <div class="padding-section py-0">
      <figcaption class="caption-carousel mt-4">The current sections design does not connect emotionally with potential customers, with a basic structure lacking an aspirational and luxurious message.</figcaption>
    </div>
    <div id="carouselExampleFade2" class="carousel slide carousel-fade w-100">
      <div class="carousel-indicators carousel-indicators-project">
        <button type="button" data-bs-target="#carouselExampleFade2" data-bs-slide-to="0" class="active"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleFade2" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleFade2" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    </div>
  </div>
</section>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <div class="text-content gap-4 d-flex flex-column">
      <h3 class="m-0 subtitle-project fs-1 text-capitalize">Understanding the clients who seek meaning, craftsmanship, and distinction</h3>
    </div>
    <div class="m-0 container d-flex flex-column gap-4 ms-3">
      <p class="list-project">
        <strong>1. Design/Conscious:</strong>
        discerning clients with a refined eye for detail, quality, and aesthetics.
      </p>
      <p class="list-project">
        <strong>2. Comfortable with high-end pricing:</strong>
        ready to invest when value, trust, and meaning are clear.
      </p>
      <p class="list-project">
        <strong>3. Woman and men with purpose:</strong>
        women choosing pieces for self-expression. Men gifting jewelry for milestones and meaningful moments.
      </p>
      <p class="list-project">
        <strong>4. Rooted in the U.S. Inspired by the world:</strong>
        Clients who value a blend of local identity and global elegance.
      </p>
    </div>
  </div>
  <div class="text-content gap-4 d-flex flex-column">
    <div class="text-content gap-4 d-flex flex-column">
      <h3 class="m-0 subtitle-project text-capitalize">UX Strategy:
        <br>from transaction to connection
      </h3>
    </div>
    <div class="m-0 container d-flex flex-column gap-4 ms-3">
      <p class="list-project">
        <strong>1. Inspire before you sell:</strong>
        create a sense of wonder and aspiration before showing products.
      </p>
      <p class="list-project">
        <strong>2. Build emotional value:</strong>
        Highlight the people, process, and meaning behind every piece.
      </p>
      <p class="list-project">
        <strong>3. Celebrate individuality:</strong>
        remind clients each creation is one-of-a-kind, made for their story.
      </p>
      <p class="list-project">
        <strong>4. Stablish visual elegance:</strong>
        use a clean, spacious, and editorial layout to convey refinement.
      </p>
      <p class="list-project">
        <strong>5. Guide, don't rush:</strong>
        encourage thoughtful exploration instead of urgency.
      </p>
      <p class="list-project">
        After having clear objectives and better understanding the niche, I began to create the new structure taking into account the important points to improve.
      </p>
    </div>
  </div>
  <div class="text-content gap-4 d-flex flex-column">
    <div class="text-content gap-4 d-flex flex-column">
      <h3 class="m-0 subtitle-project fs-1 text-capitalize">1. Hero section</h3>
    </div>
    <div class="m-0 container d-flex flex-column gap-4 ms-3">
      <li class="list-project">
        <strong>Large, emotionally resonant image</strong>
        (editorial-style or close-up of a piece)
      </li>
      <li class="list-project">
        <strong>Short, poetic headline (for example:</strong>
        “Crafted by hand. Chosen by heart.”)
      </li>
      <li class="list-project">
        <strong>Sub-headline</strong>
        introducing the values of craftsmanship and uniqueness.
      </li>
      <li class="list-project">
        <strong>Primary CTA:</strong>
        “Explore the Collection” or “Discover Our Story”
      </li>
    </div>
  </div>
</section>

<section class="d-flex flex-column align-items-start justify-content-center container gap-4">
  <div id="carouselExampleFade3" class="carousel slide carousel-fade">
    <div class="carousel-inner padding-section py-0">
      <div class="carousel-item active">
        <img src="assets/images/projects/jamie-turner/carousel-2/_slide-1.png" class="d-block w-100" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="assets/images/projects/jamie-turner/carousel-2/_slide-2.png" class="d-block w-100" alt="Slide 2">
      </div>
    </div>
    <button class="carousel-control-prev d-none d-lg-flex" type="button" data-bs-target="#carouselExampleFade3" data-bs-slide="prev">
      <img src="assets/images/icons/chevron-left.svg" alt="Left Arrow Icon">
    </button>
    <button class="carousel-control-next d-none d-lg-flex" type="button" data-bs-target="#carouselExampleFade3" data-bs-slide="next">
      <img src="assets/images/icons/chevron-right.svg" alt="Right Arrow Icon">
    </button>
    <div id="carouselExampleFade3" class="carousel slide carousel-fade w-100">
      <div class="carousel-indicators carousel-indicators-project">
        <button type="button" data-bs-target="#carouselExampleFade3" data-bs-slide-to="0" class="active"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleFade3" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
    </div>
  </div>
</section>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <div class="text-content gap-4 d-flex flex-column">
      <h3 class="m-0 subtitle-project fs-1 text-capitalize">2. The brand Story</h3>
    </div>
    <div class="m-0 container d-flex flex-column gap-4 ms-3">
      <li class="list-project">
        <strong>Concise narrative introducing the brand's origin,</strong>
        the family connection, the passion for gemstones, and the Austin studio.
      </li>
      <li class="list-project">
        <strong>Supporting image</strong>
        (Robert and Jamie, or a process shot)
      </li>
      <li class="list-project">
        <strong>Supporting with a CTA:</strong>
        “Our story”
      </li>
    </div>
  </div>
</section>

<div class="container">
  <figure class="figure d-flex flex-column align-items-center gap-4">
    <img class="image-project px-1" src="assets/images/projects/jamie-turner/_image-2.png" alt="Jamie Turner Image 2">
    <figcaption class="col-12 col-lg-8 px-2 px-lg-4">The Jamie Turner story section didn't exist, so with this new proposal, seeks to create a connection with its audience from the roots of the brand.</figcaption>
  </figure>
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <div class="text-content gap-4 d-flex flex-column">
      <h3 class="m-0 subtitle-project fs-1 text-capitalize">3. CORE VALUES SECTION</h3>
    </div>
    <p class="description-project">This section was meant to show what makes the precious jewels offered by Jamie Turner unique, this section had to contain three visual content blocks:</p>
    <div class="m-0 container d-flex flex-column gap-4 ms-3">
      <li class="list-project">
        <strong>Natural Gemstones</strong>
      </li>
      <li class="list-project">
        <strong>Handcrafted in Austin</strong>
      </li>
      <li class="list-project">
        <strong>Designed for You</strong>
      </li>
    </div>
    <p class="m-0 description-project">Each with short copy and imagery.</p>
  </div>
</section>

<div class="container">
  <img class="image-project px-1" src="assets/images/projects/jamie-turner/_image-3.png" alt="Jamie Turner Image 3">
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <div class="text-content gap-4 d-flex flex-column">
      <h3 class="m-0 subtitle-project fs-1 text-capitalize">4. Signature piece highlights</h3>
    </div>
    <div class="m-0 container d-flex flex-column gap-4 ms-3">
      <li class="list-project">
        <strong>3 to 5 hero pieces,</strong>
        displayed in a clean and editorial format.
      </li>
      <li class="list-project">
        <strong>No pricing shown</strong>
      </li>
      <li class="list-project">
        <strong>Story-driven microcopy and a CTA:</strong>
        “View the Full Collection”
      </li>
    </div>
  </div>
</section>

<div class="container">
  <figure class="figure d-flex flex-column align-items-center gap-4">
    <div class="image-wrapper position-relative">
      <img class="image-project image-normal" src="assets/images/projects/jamie-turner/_image-4.png" alt="Jamie Turner Image 4">
      <img class="image-project image-hover" src="assets/images/projects/jamie-turner/_image-4-hover.png" alt="Jamie Turner Image 4 Hover">
    </div>
    <figcaption class="col-12 col-lg-8 px-2 px-lg-4">
      Showcasing lifestyle images with a more aspirational and luxurious approach was a decision to create a better connection with potential customers.
    </figcaption>
  </figure>
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <div class="text-content gap-4 d-flex flex-column">
      <h3 class="m-0 subtitle-project fs-1 text-capitalize">5. Studio or retail experience</h3>
    </div>
    <div class="m-0 container d-flex flex-column gap-4 ms-3">
      <li class="list-project">
        <strong>Invitation to visit Neiman Marcus or schedule a private appointment.</strong>
      </li>
      <li class="list-project">
        <strong>Lifestyle image or studio detail shot.</strong>
      </li>
      <li class="list-project">
        <strong>CTA:</strong>
        “Find a retailer near you”
      </li>
    </div>
  </div>
</section>

<div class="container">
  <img class="image-project px-1" src="assets/images/projects/jamie-turner/_image-5.png" alt="Jamie Turner Image 5">
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project fs-1 text-capitalize">Results Obtained</h3>
    <div class="m-0 container d-flex flex-column gap-4 ms-3">
      <li class="list-project">
        Probable increase in <strong class="bolder-font">page retention</strong> as users find what they're looking for faster.
      </li>
      <li class="list-project">
        Improved <strong class="bolder-font">conversion rates</strong> toward catalogs/products thanks to visible and well-placed CTAs.
      </li>
      <li class="list-project">
        <strong class="bolder-font">Improved emotional experience</strong> by connecting with brand values (artisanal, luxury, naturalness), which can foster loyalty.
      </li>
      <li class="list-project">
        Possible improvement in trust metrics (more time on "Our Story," more newsletter signups) thanks to the added visual legitimacy.
      </li>
    </div>
  </div>
</section>

<section class="projects-shared">
  <div class="d-flex align-items-center justify-content-center">
    <h4 class="text-capitalize text-center title-shared">View more Projects</h4>
  </div>
  <div class="cards-container container">
    <div class="d-flex flex-column flex-lg-row align-items-start justify-content-between gap-5 gap-lg-0 px-2">
      <a [routerLink]="['/projects/ferrara']" class="col-12 col-lg-5 text-decoration-none text-white">
        <app-ferrara-card customClass="text-white bg-transparent border-0"></app-ferrara-card>
      </a>
      <a [routerLink]="['/projects/latitude']" class="col-12 col-lg-5 text-decoration-none text-white">
        <app-latitud-card customClass="text-white bg-transparent border-0"></app-latitud-card>
      </a>
    </div>
  </div>
</section>
