<section class="padding-section">
  <div class="d-flex flex-column align-items-center justify-content-center gap-4">
    <h1 class="title-website text-center">Hi!, I'm Mario García</h1>
    <p class="m-0 description-website text-center col-10"><span class="description-bold">UX UI designer with over 8 years of experience creating user-centered digital experiences.</span> Throughout my career, I've designed digital products that combine functionality, aesthetics, and purpose, always focused on improving the user experience and achieving business objectives. <span class="description-bold"> I've worked with international brands such as M&M's®, Lucas®, Snickers®, Ferrara®, CoverGirl®, </span> among others.</p>
    <p class="m-0 description-website text-center col-10">I'm passionate about creating interfaces that not only look good, but also feel natural, accessible, and effective.</p>
  </div>
</section>

<section class="infinite-loop padding-section px-0">
  <div class="logo-carousel">
    <div class="logo-track">
      <ng-container *ngFor="let logo of duplicatedLogos">
        <img [src]="logo" alt="Logo" class="logo" />
      </ng-container>
    </div>
  </div>
</section>

<section class="container padding-bottom-section">
  <div class="d-flex flex-column gap-5">
    <div class="d-flex flex-column flex-lg-row align-items-start justify-content-evenly gap-5 gap-lg-0">
      <a [routerLink]="['/projects/ferrara']" class="col-12 col-lg-5 text-decoration-none">
        <app-ferrara-card></app-ferrara-card>
      </a>
      <a [routerLink]="['/projects/latitude']" class="col-12 col-lg-5 text-decoration-none">
        <app-latitud-card></app-latitud-card>
      </a>
    </div>
    <div class="d-flex flex-column flex-lg-row align-items-start justify-content-evenly gap-5 gap-lg-0">
      <a [routerLink]="['/projects/jamie-turner']" class="col-12 col-lg-5 text-decoration-none">
        <app-jamie-turner-card></app-jamie-turner-card>
      </a>
      <a [routerLink]="['/projects/roland']" class="col-12 col-lg-5 text-decoration-none">
        <app-roland-card></app-roland-card>
      </a>
    </div>
  </div>
</section>
