<div class="card border-0 {{ customClass }}">
  <img src="/assets/images/shared/latitud_90.png" class="card-img-top" alt="Card Latitud">
  <div class="d-flex align-items-center justify-content-between">
    <div class="card-body p-0 py-4">
      <h2 class="card-text title-project">Latitude 90</h2>
      <p class="card-text">UX/UI DESIGN | WEBSITE</p>
    </div>
    <span class="arrow-wrapper">
      <img class="arrow-icon arrow-current" src="assets/images/icons/arrow.svg" alt="Arrow">
      <img class="arrow-icon arrow-incoming" src="assets/images/icons/arrow.svg" alt="Arrow">
    </span>
  </div>
</div>
