<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="d-flex flex-column align-items-start gap-3">
    <img src="assets/images/projects-logos/roland_logo.svg" alt="Project Logo">
    <span class="m-0 industry-text">Industry: <strong>Commercial Printing</strong> </span>
  </div>
  <div class="title-container gap-3 d-flex flex-column">
    <h2 class="m-0 title-project text-capitalize">Roland dG connect designer</h2>
    <p class="m-0 text-uppercase">UX/UI DESIGN | WEBSITE DESIGN</p>
  </div>
  <div class="text-content gap-4 d-flex flex-column">
    <p class="m-0">
    Roland DGA, the American subsidiary of Japan's historic Roland DG, is a leader in advanced digital printing solutions—from UV printers to dental milling machines and texturing systems—with tools like DIMENSE™ and VersaOBJECT™ for applications ranging from signage to décor and the dental industry.</p>
  </div>
</section>

<div class="container">
  <img class="image-project px-1" src="assets/images/projects/roland/_image-1.png" alt="Roland Image 1">
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project text-capitalize">The Challenge</h3>
    <p class="m-0 description-project">The main challenge in designing this landing page was to introduce a new software tool (Roland DG Connect Designer) into a generally hardware-focused ecosystem in a way that was clear, engaging, and accessible to users of all skill levels.</p>
    <p class="m-0 description-project">The goal was to communicate that this was an<strong class="bolder-font"> all-in-one,</strong> intuitive, and professional solution without creating any friction in the user experience. This involved addressing three key challenges from a UX/UI perspective:</p>
  </div>
  <div class="m-0 container d-flex flex-column gap-4 ms-3">
    <li class="list-project">
      <strong>Simplify the technical aspects without losing professional value:</strong>
      the software offers process automation, preconfigured files, and asset libraries. Translate these technical functionalities into understandable visual and textual language.
    </li>
    <li class="list-project">
      <strong>Prioritize information with clarity and consistency:</strong>
      prioritize a strong core message, using visual sections to highlight specific benefits, such as ease of use, print-ready file generation, and advanced compatibility.
    </li>
    <li class="list-project">
      <strong>Connect emotionally through visual design:</strong>
      displaying images and mockups will reflect real-life usage scenarios with a modern aesthetic, showcasing the software interface integrated with the visual content.
    </li>
  </div>

  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project text-capitalize">Design Process</h3>
    <p class="m-0 description-project">From the wireframe phase, the focus was on clearly communicating the value proposition, guiding the user through the information flow, and facilitating conversion with clear calls to action.</p>
    <div class="d-flex flex-column align-items-start">
      <p class="m-0 description-project"><strong class="bolder-font">Clarity and Purpose</strong></p>
    </div>
    <div class="m-0 container d-flex flex-column gap-4 ms-3">
      <li class="list-project">
        Clearly communicate the benefits of the software.
      </li>
      <li class="list-project">
        Demonstrate the ease of the workflow with the DIMENSE module.
      </li>
      <li class="list-project">
        Build confidence in technical compatibility.
      </li>
      <li class="list-project">
        Encourage free software downloads as a primary conversion.
      </li>
    </div>
    <p class="m-0 description-project"><strong class="bolder-font">UX Decision:</strong>Complex graphics were avoided at this stage to focus on communicating the proposal and allowing for visual flexibility in later UI.</p>
  </div>
</section>

<section class="d-flex flex-column align-items-start justify-content-center container gap-4">
  <div id="carouselExampleFade2" class="carousel slide carousel-fade">
    <div class="carousel-inner padding-section py-0">
      <div class="carousel-item active">
        <img src="assets/images/projects/roland/carousel-1/_slide-1.png" class="d-block w-100" alt="Slide 1">
      </div>
      <div class="carousel-item">
        <img src="assets/images/projects/roland/carousel-1/_slide-2.png" class="d-block w-100" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="assets/images/projects/roland/carousel-1/_slide-3.png" class="d-block w-100" alt="Slide 3">
      </div>
    </div>
    <button class="carousel-control-prev d-none d-lg-flex" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="prev">
      <img src="assets/images/icons/chevron-left.svg" alt="Left Arrow Icon">
    </button>
    <button class="carousel-control-next d-none d-lg-flex" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="next">
      <img src="assets/images/icons/chevron-right.svg" alt="Right Arrow Icon">
    </button>
    <div class="padding-section py-0">
      <figcaption class="caption-carousel mt-4"><strong class="bolder-font">This first step (wireframing)</strong> was key to validating the content flow, information architecture, and desired experience. By avoiding early visual distractions, the work focused on solving real communication and usability problems.</figcaption>
    </div>
    <div id="carouselExampleFade2" class="carousel slide carousel-fade w-100">
      <div class="carousel-indicators carousel-indicators-project">
        <button type="button" data-bs-target="#carouselExampleFade2" data-bs-slide-to="0" class="active"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleFade2" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleFade2" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    </div>
  </div>
</section>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project text-capitalize">Principles Applied</h3>
  </div>
  <p class="m-0 description-project">
    <strong class="bolder-font">Clear Visual Hierarchy:</strong>
    the typography is carefully structured. The main title uses visual weight and italic style to highlight the key message. The subtitle maintains an optimal length for quick scanning, and the CTA is well separated and accessible.
  </p>
  <p class="m-0 description-project">
    <strong class="bolder-font">Modular and Responsive Design:</strong>
    the two-column layout (text + visual) allows for fluid adaptation to mobile devices. The information cards at the bottom are organized in a consistent grid, easily adaptable to responsive formats (1-2 columns on mobile).
  </p>
  <p class="m-0 description-project">
    <strong class="bolder-font">Functional Visual Support:</strong>
    the images show the software in use, reinforcing the context without requiring additional explanation. This improves product understanding in a visual and direct way.
  </p>
  <p class="m-0 description-project">
    <strong class="bolder-font">Focused CTA:</strong>
    the primary button (“Get Started for Free”) is isolated and strategically positioned to capture attention after reading the main content. It is designed with a clean, accessible style and without close visual competition.
  </p>
</section>

<div class="container">
  <img class="image-project px-1" src="assets/images/projects/roland/_image-2.png" alt="Roland Image 2">
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project fs-1 text-capitalize">UI Summary - Feature Cards + Compatibility Section</h3>
    <p class="m-0 description-project">
      This screen corresponds to the middle section of the landing page and its main objective is to communicate key benefits of the software in a clear, scannable, and visually appealing way.
    </p>
    <p class="m-0 description-project">
      <strong class="bolder-font">Card-based layout:</strong>
      modular components in the form of cards were used to divide and highlight the product's main features. This pattern allows for quick reading and improves content comprehension.
    </p>
    <p class="m-0 description-project">
      <strong class="bolder-font">Visual consistency and graphic rhythm:</strong>
      all cards maintain consistent proportions, styles, and spacing. Images are aligned at the top, followed by a block of informational text and a capitalized heading for easy scanning.
    </p>
    <p class="m-0 description-project">
      <strong class="bolder-font">Functional and contextual visuals:</strong>
      each image within the cards reinforces the textual content by showing software or hardware in use. This provides visual context without relying exclusively on text.
    </p>
  </div>
</section>

<div class="container">
  <img class="image-project px-1" src="assets/images/projects/roland/_image-3.png" alt="Roland Image 3">
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project fs-1 text-capitalize">DIMENSE module</h3>
    <p class="m-0 description-project">This section is designed to highlight the DIMENSE module as an extension that <strong class="bolder-font">adds texture and depth to printed designs.
    </strong></p>
    <p class="description-project m-0">
      From a UI perspective, it combines a clear split-screen visual structure with informative text on the left and a functional image on the right. The goal is to communicate the added value of the add-on quickly, visually, and directly, reinforcing the seamless integration with Roland DG Connect Designer software. <strong class="bolder-font">Prioritize clarity, tangible benefits, and immediate action through a prominent CTA.</strong>
    </p>
  </div>
</section>

<div class="container">
  <img class="image-project px-1" src="assets/images/projects/roland/_image-4.png" alt="Roland Image 4">
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project fs-1 text-capitalize">from a uI perspective</h3>
    <p class="m-0 description-project">I used a clear, split design that combines attractive graphic elements on the left with a <strong class="bolder-font">numbered step-by-step guide on the right,</strong> improving comprehension and reducing cognitive load. The goal is to convey simplicity and control, showing how the user can easily move from a flat design to a dimensional print without additional tools, in just five steps. This section is designed to <strong class="bolder-font">reinforce usability and efficiency in the creative process.</strong></p>
  </div>
</section>

<div class="container">
  <img class="image-project px-1" src="assets/images/projects/roland/_image-5.png" alt="Roland Image 5">
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project fs-1 text-capitalize">Responsive Design</h3>
    <p class="m-0 description-project">Design the mobile version of the landing page with a <strong class="bolder-font">clear focus on readability, visual hierarchy, and immediate action.</strong></p>
    <p class="m-0">
      Present the sections in well-spaced vertical blocks, with scalable typography, prominent call-to-action buttons, and strategic use of color to highlight key messages. Adapt the images without cluttering the space, keeping the focus on the value proposition. The experience is optimized so the user understands the<strong class="bolder-font"> main benefit quickly and frictionlessly,</strong> even on small screens.
    </p>
  </div>
</section>

<div class="container">
  <img class="image-project px-1" src="assets/images/projects/roland/_image-6.png" alt="Roland Image 6">
</div>

<section class="padding-section d-flex flex-column align-items-start justify-content-center container gap-section">
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project fs-1 text-capitalize">Results Obtained</h3>
    <p class="m-0 description-project">
      <strong class="bolder-font">Increased conversion:</strong>
      the landing page's clear and straightforward design, focused on benefits and with prominent calls to action, made it easier for users to take the next step (registration, free trial, or sales contact).
    </p>
    <p class="m-0 description-project">
      <strong class="bolder-font">Improved product communication:</strong>
      a technical product was translated into a value proposition that was easy to understand for non-specialized users, eliminating barriers to entry.
    </p>
    <p class="m-0 description-project">
      <strong class="bolder-font">Brand positioning as a comprehensive solution:</strong>
      the interface conveys trust, professionalism, and an all-in-one experience, reinforcing Roland's positioning as a software and hardware-integrated solution.
    </p>
  </div>
  <div class="text-content gap-4 d-flex flex-column">
    <h3 class="m-0 subtitle-project fs-1 text-capitalize">Lessons Learned</h3>
    <p class="m-0 description-project">
      This project taught me that good design not only solves visual problems, but also <strong class="bolder-font">boosts commercial results</strong> when properly aligned with business objectives: more leads, better product understanding, and higher purchase intent.
    </p>
  </div>
</section>

<section class="projects-shared">
  <div class="d-flex align-items-center justify-content-center">
    <h4 class="text-capitalize text-center title-shared">View more Projects</h4>
  </div>
  <div class="cards-container container">
    <div class="d-flex flex-column flex-lg-row align-items-start justify-content-between gap-5 gap-lg-0 px-2">
      <a [routerLink]="['/projects/ferrara']" class="col-12 col-lg-5 text-decoration-none text-white">
        <app-ferrara-card customClass="text-white bg-transparent border-0"></app-ferrara-card>
      </a>
      <a [routerLink]="['/projects/jamie-turner']" class="col-12 col-lg-5 text-decoration-none text-white">
        <app-jamie-turner-card customClass="text-white bg-transparent border-0"></app-jamie-turner-card>
      </a>
    </div>
  </div>
</section>
