@import url(../../../styles.scss);

p, h1, h2, h3, h4, h5, h6, span, li, a, button {
  color: #141A25;
}

.btn-outline-secondary {
  background: transparent !important;
  border-radius: 100px;
  border: 1px solid #000 !important;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  overflow: hidden;
  position: relative;
  transition: color 0.3s ease;

  .arrow-wrapper {
    position: relative;
    display: inline-block;
    width: 0px; // Ajusta al tamaño de tu flecha
    height: 10px;
  }

  .arrow-icon {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  .arrow-current {
    transform: translate(0, 0);
    opacity: 1;
  }

  .arrow-incoming {
    transform: translate(-14px, 40px); // Aparece desde abajo a la izquierda
    opacity: 0;
  }

  &:hover {
    .arrow-current {
      transform: translate(14px, -40px); // Sube en diagonal opuesta
      opacity: 0;
    }

    .arrow-incoming {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}

.title-website {
  font-family: var(--Reckless-font-family);
  font-size: 64px;
}

.description-website {
  font-family: var(--Gotham-font-family);
  font-weight: 400;
}

.description-bold {
  font-family: var(--Gotham-Bold-font-family);
}

.img-about {
  width: 100%;
  height: auto;
}

.padding-bottom-section {
  padding-bottom: 100px;
}

.projects-shared {
  background-color: #141A25;
  color: white !important;
  border-bottom: 1.5px solid white;
}

.text-white {
  color: white !important;
}

.title-shared {
  color: white;
  font-family: var(--Reckless-font-family);
  font-weight: 400;
  font-size: 48px;
  padding: 90px 0;
}

.cards-container {
  padding-bottom: 90px;
}

/* ==================== Gallery Start ==================== */
/* .image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */

.image-wrapper {
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.container-1 {
  width: 756px;
}

.container-2 {
  width: 907.5px;
}

.image-wrapper {
  .image-5 {
    width: 1004px;
  }
}
.image-wrapper.image-5 {
  height: 920px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-wrapper:hover img {
  transform: scale(1.2);
}
/* ==================== Gallery End ==================== */

@media (max-width: 767px) {
  .title-container {
    .title-project {
      font-size: 42px;
    }
    p {
      font-size: 18px;
    }
  }
  .gap-section {
    gap: 42px;
  }

  .title-shared {
    font-size: 35px;
    padding: 50px 0;
  }
}
